@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@keyframes mymove {
  50% {
    text-shadow: 10px 20px 30px rgb(61, 64, 114);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  max-width: -webkit-fill-available;
}

h1.title {
  margin-bottom: 20px;
  color: #444444;
  font-family: "Allura", cursive;
  text-transform: uppercase;
  font-size: 38px;
  word-spacing: 25px;
  letter-spacing: 5px;
  animation: mymove 5s infinite;
}

p {
  margin: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #a9a9a9;
}

.btn a {
  width: 180px;
  height: 35px;
  line-height: 35px;
  border: 2px solid #080808;
<<<<<<< HEAD
  color:#080808;
=======
  color: #080808;
>>>>>>> ac865991572747c59bfd111b2923a9aca7e7f1ff
  display: block;
  margin: 25px auto 0;
  text-align: center;
}

.btn a:hover {
  color: rgba(30, 27, 27, 0.7);
  cursor: pointer;
  background-color: #a9a9a9;
}

.main_container {
  position: relative;
}

/* Navigation Bar */
.navbar {
  width: 100%;
  height: 65px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.logo a {
<<<<<<< HEAD
  font-family: 'Courier New', Courier, monospace, cursive;
=======
  font-family: "Courier New", Courier, monospace, cursive;
>>>>>>> ac865991572747c59bfd111b2923a9aca7e7f1ff
  font-size: 32px;
  color: #1a1919;
  animation: mymove 5s infinite;
}
.logo a:hover {
  color: rgba(168, 155, 155, 0.7);
  cursor: pointer;
}

.navbar_items ul {
  display: flex;
}

.navbar_items ul li {
  margin: 0 13px;
}

.navbar_items ul li a {
  text-transform: uppercase;
  color: rgb(8, 8, 8);
}
.navbar_item_text:hover {
  color: rgba(30, 27, 27, 0.7);
  cursor: pointer;
}

/* banner_image */
.banner_image {
<<<<<<< HEAD
  display: flex;
=======
  background: url("img/Brand\ Guidelines\ Presentation\ \(2\).png") no-repeat
    top center;
  background-size: cover;
>>>>>>> ac865991572747c59bfd111b2923a9aca7e7f1ff
  width: 100%;
  height: 600px;
}

.banner_content {
  text-align: center;
  color: rgb(8, 8, 8);
}

.banner_content h1 {
  text-transform: uppercase;
  line-height: 38px;
  margin-bottom: 15px;
  animation: mymove 5s infinite;
}

.banner_content h1 span {
  color: #fb2274;
}

/* About */
.about,
.services,
.contactUs,
.ouritem {
  text-align: center;
  padding: 5% 10%;
}
<<<<<<< HEAD
.about {
  background-image: url(img/Brand\ Guidelines\ Presentation\ \(7\).png);
  opacity: 0.8;
}
=======
>>>>>>> ac865991572747c59bfd111b2923a9aca7e7f1ff
.about p {
  color: #000000;
  font-weight: 500;
}
/* Services */
<<<<<<< HEAD
.services {
  background-image: url(img/Brand\ Guidelines\ Presentation\ \(7\).png);
}
=======
>>>>>>> ac865991572747c59bfd111b2923a9aca7e7f1ff
.services p {
  color: #000000;
}
.diff_services {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.diff_services_item {
  width: 15.6666%;
  background-color: rgb(235, 235, 235);
  border: 0.5px solid;
  box-shadow: 3px 5px rgba(248, 238, 238, 0.6);
}
.diff_services_item:hover {
  transform: translateY(-6px);
  box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0.7;
}
.diff_services_item img {
  margin-bottom: 25px;
  width: 100%;
  object-fit: cover;
}
.diff_services_item-img {
  width: 120px;
  height: 150px;
  object-fit: inherit;
  transition: right linear 0.2s;
  right: 0;
}
.diff_services_item-img:hover {
  right: -4px;
  cursor: pointer;
}

.diff_services .diff_services_item h3 {
  color: #896f5a;
  margin-bottom: 15px;
}
.collec {
  display: flex;
  justify-content: center;
}
.footer {
<<<<<<< HEAD
  width: 100%;
  text-align: center;
  background-image: url(img/Brand\ Guidelines\ Presentation\ \(7\).png);
  font-family:'Courier New', Courier, monospace, cursive;
}
.footer-elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 2rem;
}
.footer-box h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-box span {
  color: var(--main-color);
}
.footer-box p {
  font-size: 00.938rem;
  margin-bottom: 10px;
}
=======
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 2rem;
  width: 100%;
  text-align: center;
}
.footer-box h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-box span {
  color: var(--main-color);
}
.footer-box p {
  font-size: 00.938rem;
  margin-bottom: 10px;
}
>>>>>>> ac865991572747c59bfd111b2923a9aca7e7f1ff
.social {
  display: flex;
  align-items: center;
}
.social a {
  font-size: 24px;
  margin-right: 10px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--main-color);
}
.footer-box h3 {
  font-weight: 500;
  margin-bottom: 10px;
}
.footer-box li a {
  color: var(--text-color);
}
.footer-box li a:hover {
  color: var(--main-color);
}
.contact-info {
  display: flex;
  flex-direction: column;
}
.contact-info span {
  color: var(--text-color);
}
.copyright {
  padding: 20px;
  text-align: center;
}
.footer-heading{
  font-family:'Courier New', Courier, monospace, cursive;
}